# ============================
# 🔥 IGNORAR ARCHIVOS SENSIBLES
# ============================

# Archivos YAML con credenciales
*.yaml

# Excepción: Mantener configuraciones necesarias
!dags/credentials/config.yaml

# Archivos de credenciales específicos
dags/credentials/credentials.yaml
dags/credentials/mb_credentials.yaml

# ============================
# 🗄️ BASES DE DATOS Y BACKUPS
# ============================

# PostgreSQL
*.sql~
*.dump
*.backup
pg_data/
postgresql.conf
pg_hba.conf
pg_ident.conf

# Metabase
metabase.db/
metabase.jar
snowflake.metabase-driver.jar*
logs/

# Ignorar bases de datos de Metabase
metabase.db*
*.mv.db
*.h2.db
*.sqlite


# Airflow
airflow.db
airflow.sqlite
logs/

# SQLite
db.sqlite3
db.sqlite3-journal

# ============================
# 📦 ENTORNOS VIRTUALES Y DEPENDENCIAS
# ============================

# Pyenv
.python-version

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Virtualenv
venv/
.env/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Poetry
.poetry/
poetry.toml

# Pipenv
Pipfile.lock

# PDM
.pdm.toml
pdm.lock

# ============================
# 🖥️ SISTEMAS OPERATIVOS
# ============================

# 🔹 Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# 🔹 macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# 🔹 Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# ============================
# 📂 EDITORES Y SISTEMAS DE CONTROL
# ============================

# VS Code
.vscode/
.history/
*.code-workspace

# Git
.git/
.gitignore

# PyCharm
.idea/

# ============================
# 🐍 PYTHON Y HERRAMIENTAS
# ============================

# Archivos compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de construcción y empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Logs y reportes de pruebas
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
/dags_example/
.htmlcov
.csv

# Configuraciones de herramientas
pyrightconfig.json
.ruff_cache/

# Django
local_settings.py

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Documentación Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython
cython_debug/
metabase/metabase.jar
metabase/plugins/snowflake.metabase-driver.jar
